<!DOCTYPE html>
<html>
  <head>
    <title>日記アプリケーション</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.7/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router@3.5.1/dist/vue-router.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="contents">
        <router-view></router-view>
      </div>
    </div>

    <!-- ホームテンプレート -->
    <template id="home">
      <div>
        <h1>日記アプリケーション</h1>
        <router-link to="/github" target="_blank" class="ex-link">GitHub</router-link>
        <router-link to="/post">新規投稿</router-link>
        <br>
        <h2>日記一覧</h2>
        <ul>
          <li v-for="post in diaryPosts" :key="post.id" @click="goToDetail(post.id)">
            <div id="article">{{ post.title }}<div class="date">作成日：{{ post.created_date }}<div v-if="post.last_update != post.created_date" class="date">最終更新日：{{ post.last_update }}</div></div></div>
          </li>
          <p v-if="!diaryPosts.length">日記はまだありません。<router-link to="/post">新規投稿</router-link>してください</p>
        </ul>
      </div>
    </template>
    <!-- ホームテンプレートここまで -->

    <!-- 投稿フォームテンプレート -->
    <template id="diary-form">
      <form @submit.prevent="adddiaryPost">
        <router-link to="/" class="back-button">ホームに戻る</router-link>
        <input type="text" v-model="title" placeholder="日記タイトル">
        <textarea v-model="content" placeholder="内容"></textarea>
        <input type="file" accept="image/*" ref="file" @change="onFileChange">
        <button type="submit">投稿</button>
      </form>
    </template>
    <!-- フォームテンプレートここまで -->

    <!-- 日記詳細テンプレート -->
    <template id="diary-detail">
      <div id="diary-detail-content">
        <h2>{{ diaryPost.title }}</h2>
        <router-link to="/" class="back-button">ホームに戻る</router-link>
        <p style="white-space: pre-line;">{{ diaryPost.content }}</p>
        <br>
        <img v-if="diaryPost.file" :src="diaryPost.file">
        <p class="date" v-if="diaryPost.last_update == diaryPost.created_date">作成日：{{ diaryPost.created_date }} <button class="edit-button" @click="$router.push(`/edit/${diaryPost.id}`)">編集</button> <button class="delete-button" @click="deletePost">削除</button></p>
        <p class="date" v-else>最終更新日：{{ diaryPost.last_update }} <button class="edit-button" @click="$router.push(`/edit/${diaryPost.id}`)">編集</button> <button class="delete-button" @click="deletePost">削除</button></p>
      </div>
    </template>
    <!-- 日記詳細テンプレートここまで -->

    <template id="diary-edit">
      <div id="diary-edit-content">
        <router-link to="/" class="back-button">ホームに戻る</router-link>
        <h2>日記編集</h2>
        <form @submit.prevent="editPost">
          <input type="text" v-model="diaryPost.title" placeholder="日記タイトル">
          <textarea v-model="diaryPost.content" placeholder="内容"></textarea>
          <input type="file" accept="image/*" ref="file" @change="onFileChange">
          <button type="submit">更新</button>
        </form>
      </div>
    </template>

    <!-- エラーメッセージテンプレート -->
    <template id="error-disp">
      <div>
        <p class="error">バックエンドサーバーが起動していません。起動してから再度実行してください。</p>
        <button class="reload-button"><router-link to="/" >再読込み</router-link></button>
      </div>
    </template>
    <!-- エラーメッセージテンプレートここまで -->

    <script>
      // ホームテンプレート
      const Home = {
        template: "#home",
        data() {
          return {
            diaryPosts: [],
            error: false
          };
        },
        async created() {
          try {
            const response = await axios.get("http://localhost:5000/getPosts");
            this.diaryPosts = response.data;
          } catch (error) {
            this.error = true;
            this.$router.push("/error");
          }
        },
        methods: {
          goToDetail(postId) {
            this.$router.push(`/post/${postId}`);
          }
        }
      };

      const diaryForm = {
        template: "#diary-form",
        data() {
          return {
            title: "",
            content: "",
            file: null
          };
        },
        methods: {
          async adddiaryPost() {
            if (this.title === "" || this.content === "") return;
            let formData = new FormData();
            formData.append("title", this.title);
            formData.append("content", this.content);
            formData.append("file", this.file);

            let response = await axios.post("http://localhost:5000/upload", formData, {
              headers: {
                "Content-Type": "multipart/form-data"
              }
            });

            this.$router.push("/");
          },
          onFileChange(e) {
            this.file = this.$refs.file.files[0];
          }
        }
      };

      const diaryDetail = {
        template: "#diary-detail",
        data() {
          return {
            diaryPost: {
              title: "",
              content: ""
            }
          };
        },
        async created() {
          const postId = Number(this.$route.params.id);
          await axios.get(`http://localhost:5000/getPost/${postId}`).then(response => {
              this.diaryPost = response.data;
            })
        },
        methods: {
        async deletePost() {
          const postId = this.diaryPost.id;
          await axios.delete(`http://localhost:5000/deletePost/${postId}`).then(() => {
            // 削除成功時の処理
            this.$router.push("/");
          }).catch(() => {
            // 削除失敗時の処理
            alert("削除に失敗しました。");
          });
        }
      }};
      const errorDisp = {
        template: "#error-disp"
      };

      const diaryEdit = {
        template: "#diary-edit",
        data() {
          return {
            diaryPost: {
              id: null,
              title: "",
              content: "",
              file: null
            }
          }
        },
        async created() {
          const postId = Number(this.$route.params.id);
          await axios.get(`http://localhost:5000/getPost/${postId}`).then(response => {
            this.diaryPost.id = response.data.id;
            this.diaryPost.title = response.data.title;
            this.diaryPost.content = response.data.content;
            this.diaryPost.file = response.data.file;
          })
        },
        methods: {
          async editPost() {
            if (this.diaryPost.title === "" || this.diaryPost.content === "") return;
            let formData = new FormData();
            formData.append("title", this.diaryPost.title);
            formData.append("content", this.diaryPost.content);
            formData.append("file", this.diaryPost.file);

            await axios.put(`http://localhost:5000/editPost/${this.diaryPost.id}`, formData, {
              headers: {
                "Content-Type": "multipart/form-data"
              }
            });
            this.$router.push(`/post/${this.diaryPost.id}`);
          },
          onFileChange(e) {
            this.diaryPost.file = this.$refs.file.files[0];
          }
        }
      };

      const router = new VueRouter({
        routes: [
          { path: "/", component: Home },
          { path: "/post", component: diaryForm },
          { path: "/post/:id", component: diaryDetail },
          { path: "/edit/:id", component: diaryEdit },
          { path: "/github", beforeEnter() {
            window.location = "https://www.github.com/MiuraManato/Vue-simple-diary-Application";
          }},
          { path: "/error", component: errorDisp}
        ]
      });

      new Vue({
        el: "#app",
        router,
        data() {
          return {
            diaryPosts: []
          };
        }
      }).$mount("#app");
    </script>
  </body>
</html>
