<!DOCTYPE html>
<html>
  <head>
    <title>日記アプリケーション</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.7/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router@3.5.1/dist/vue-router.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="contents">
        <router-view></router-view>
      </div>
    </div>

    <template id="diary-form">
      <form @submit.prevent="adddiaryPost">
        <router-link to="/" class="back-button">ホームに戻る</router-link>
        <input type="text" v-model="title" placeholder="日記タイトル">
        <textarea v-model="content" placeholder="内容"></textarea>
        <input type="file" ref="file" @change="onFileChange">
        <button type="submit">投稿</button>
      </form>
    </template>

    <template id="diary-list">
      <ul>
        <li v-for="post in diaryPosts" :key="post.id" @click="goToDetail(post.id)">
          {{ post.title }}
        </li>
      </ul>
    </template>

    <template id="diary-detail">
      <div id="diary-detail-content">
        <h2>{{ diaryPost.title }}</h2>
        <router-link to="/" class="back-button">ホームに戻る</router-link>
        <p style="white-space: pre-line;">{{ diaryPost.content }}</p>
        <br>
        <img v-if="diaryPost.file" :src="diaryPost.file">
        <p class="date">作成日：{{ diaryPost.date }}</p>
      </div>
    </template>


    <script>
      const Home = {
        template: `
          <div>
            <h1>日記アプリケーション</h1>
            <router-link to="/post">新規投稿</router-link>
            <br>
            <h2>日記一覧</h2>
            <ul>
              <li v-for="post in diaryPosts" :key="post.id" @click="goToDetail(post.id)">
                <div id="article">{{ post.title }}<div class="date">作成日：{{ post.date }}</div></div>
              </li>
            </ul>
          </div>
        `,
        data() {
          return {
            diaryPosts: []
          };
        },
        created() {
          axios.get("http://localhost:5000/getPosts").then(response => {
              this.diaryPosts = response.data;
            });
        },
        methods: {
          goToDetail(postId) {
            this.$router.push(`/post/${postId}`);
          }
        }
      };

      const diaryForm = {
        template: '#diary-form',
        data() {
          return {
            title: '',
            content: '',
            file: null
          };
        },
        methods: {
          async adddiaryPost() {
            let formData = new FormData();
            formData.append('title', this.title);
            formData.append('content', this.content);
            formData.append('file', this.file);

            let response = await axios.post('http://localhost:5000/upload', formData, {
              headers: {
                'Content-Type': 'multipart/form-data'
              }
            });

            this.$router.push('/');
            this.title = '';
            this.content = '';
            this.file = null;
          },
          onFileChange(e) {
            this.file = this.$refs.file.files[0];
          }
        }
      };

      const diaryDetail = {
        template: '#diary-detail',
        data() {
          return {
            diaryPost: {
              title: '',
              content: ''
            }
          };
        },
        async created() {
          const postId = Number(this.$route.params.id);
          await axios.get(`http://localhost:5000/getPost/${postId}`).then(response => {
              this.diaryPost = response.data;
            });
        }
      };

      const router = new VueRouter({
        routes: [
          { path: '/', component: Home },
          { path: '/post', component: diaryForm },
          { path: '/post/:id', component: diaryDetail }
        ]
      });

      new Vue({
        router,
        data() {
          return {
            diaryPosts: []
          };
        }
      }).$mount('#app');
    </script>
  </body>
</html>
